@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);
#outlook a {
    padding: 0;
}

.ReadMsgBody {
    width: 100%;
}

.ExternalClass {
    width: 100%;
}

.ExternalClass * {
    line-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family:Open sans, arial, sans-serif;
    font-size:16px;
    font-weight:400;
    color:#363A41;
}

.heading {
    font-size:20px;
    font-weight:600;
    line-height:25px;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.center {
    text-align: center;
}
table,
td {
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
}

img {
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
}

p {
}

.buy-button {

}

#product-tab {
    width: 100%;
    border: 1px solid #D6D4D4;
    border-collapse: collapse;
}

.product_image {
    width:80px !important;
    height:80px !important;
}

table#additionals-tab .charges {
    vertical-align: top;
}
table#additionals-tab .discounts {
    vertical-align: top;
}

tr.charge th, tr.charge td, tr.discount th, tr.discount td  {
    border-bottom: 1px solid #CCCCCC;
    font-size: 9px;
}

.shadow {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.label {
    font-weight: 700;
}

.warning {
    font-weight: 700;
    font-size: 16px;
}

a {
    color: #25B9D7;
    text-decoration: underline;
    font-weight: 600;
}

a.light {
    font-weight: 400;
}

span.strong {
    font-weight: 600;
}

.ReadMsgBody {
    width: 100%;
}

@media only screen and (max-width:480px) {
    body,
    .no-bg {
        background-color: #fff !important;
    }

    .left p {
        text-align: left;
        display: inline-block
    }
    @-ms-viewport {
        width: 320px;
    }

    @viewport {
        width: 320px;
    }

    .mj-column-per-100 {
        width: 100% !important;
        max-width: 100%;
    }

    .mj-column-px-25 {
        width: 25px !important;
        max-width: 25px;
    }
}