
#quotation_notification .material-icons {
    color: #6c868e;
    font-size: 22px;
    vertical-align: bottom;
}

#quotation_notification.open {
    background: none
}

#quotation_notification.open a.dropdown-toggle {
    background: none!important
}

#quotation_notification .material-icons {
    color: #6c868e;
    font-size: 22px;
    vertical-align: bottom
}

#quotation_notification #total_notif_number_wrapper {
    background: #f1b746;
    border: 2px solid #fff;
    border-radius: .625rem;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-size: .625rem;
    height: 16px;
    height: 1rem;
    line-height: 12px;
    line-height: .75rem;
    padding: 0 .18rem;
    position: absolute;
    right: 9.6px;
    right: .6rem;
    top: 4.8px;
    top: .3rem;
    vertical-align: middle
}

#quotation_notification #total_notif_number_wrapper>span {
    color: inherit;
    font-size: inherit
}

#quotation_notification .dropdown-menu {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #bbcdd2;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    margin: 0;
    min-width: 400px;
    min-width: 25rem;
    padding: 0;
    right: 5px!important;
    top: 42px
}

#quotation_notification .dropdown-menu:after,#quotation_notification .dropdown-menu:before {
    border: solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 8px;
    width: 0
}

#quotation_notification .dropdown-menu:after {
    border-color: transparent transparent #fff;
    border-width: 7px;
    margin-right: 1px
}

#quotation_notification .dropdown-menu:before {
    border-color: transparent transparent #bbcdd2;
    border-width: 8px
}

#quotation_notification .dropdown-menu .notifications .nav-tabs {
    border-bottom: 1px solid #fff
}

#quotation_notification .dropdown-menu .notifications .nav-tabs .nav-item {
    margin-bottom: -1px;
    margin-left: 0;
    text-align: center;
    width: 50%
}

#quotation_notification .dropdown-menu .notifications .nav-tabs .nav-item.active a {
    border-bottom: 3px solid #25b9d7;
    border-top: 0;
    color: #25b9d7
}

#quotation_notification .dropdown-menu .notifications .nav-tabs .nav-item:hover a {
    color: #25b9d7
}

#quotation_notification .dropdown-menu .notifications .nav-tabs .nav-item .nav-link {
    border: 0;
    color: #6c868e;
    font-family: Open Sans,sans-serif;
    font-size: 14.4px;
    font-size: .9rem;
    font-weight: 400;
    padding: .9375rem .9375rem .625rem;
    text-transform: none
}

#quotation_notification .dropdown-menu .notifications .tab-content {
    background: #f2f4f5;
    border-top: .125rem solid #eee;
    margin-top: -.0625rem;
    padding: 0
}

#quotation_notification .dropdown-menu .notifications .tab-content .tab-pane {
    height: 190px;
    height: 11.875rem;
    overflow-y: auto
}

#quotation_notification .dropdown-menu .notifications .tab-content .tab-pane .no-notification {
    display: none
}

#quotation_notification .dropdown-menu .notifications .tab-content .tab-pane.empty {
    color: #6c868e;
    text-align: center
}

#quotation_notification .dropdown-menu .notifications .tab-content .tab-pane.empty:after {
    color: #bbcdd2;
    content: "\E7F5";
    font-family: Material Icons;
    font-size: 90px;
    font-size: 5.625rem;
    opacity: .7
}

#quotation_notification .dropdown-menu .notifications .tab-content .tab-pane.empty>.no-notification {
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%
}

#quotation_notification .dropdown-menu .notifications .tab-content .notif {
    color: #6c868e;
    display: block;
    padding: .625rem .9375rem;
    text-align: left;
}

#quotation_notification .dropdown-menu .notifications .tab-content .notif .material-icons {
    font-size: 16px;
    line-height: 16px;
    vertical-align: top
}

#quotation_notification .dropdown-menu .notifications .tab-content .notif .message-notification-status.open {
    color: #5cb85c
}

#quotation_notification .dropdown-menu .notifications .tab-content .notif .message-notification-status.closed {
    color: #d9534f
}

#quotation_notification .dropdown-menu .notifications .tab-content .notif .message-notification-status.pending1,
#quotation_notification .dropdown-menu .notifications .tab-content .notif .message-notification-status.pending2 {
    color: #fb0
}

#quotation_notification .dropdown-menu .notifications .tab-content .notif strong {
    color: #363a41
}

#quotation_notification .dropdown-menu .notifications .tab-content .notif:hover {
    background-color: #3ed2f0;
    color: #fff;
    text-decoration: none
}

#quotation_notification .dropdown-menu .notifications .tab-content .notif:hover strong {
    color: #fff
}

#quotation_notification #total_quotation_notif_number_wrapper {
    background: #f1b746;
    border: 2px solid #fff;
    border-radius: .625rem;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-size: .625rem;
    height: 16px;
    height: 1rem;
    line-height: 12px;
    line-height: .75rem;
    padding: 0 .18rem;
    position: absolute;
    right: 10px;
    top: 5px;
    vertical-align: middle;
}

.expiry_date_hidden {
    display: none;
}

.roja45quotationspro_expiry_warning {
    background-color: #fef1d3 !important;
}
.roja45quotationspro_expiry_warning.expiry_date {
    color: #c58001 !important;
    font-weight: 700;
}
.roja45quotationspro_expiry_alert {
    background-color: #f9cce1 !important;
}
.roja45quotationspro_expiry_alert.expiry_date {
    color: #ef2626 !important;
    font-weight: 700;
}

#quotationspro_assign_user_dialog {
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 9999;
    text-align: left;
}
#quotationspro_assign_user_dialog .employee-list {
    height: 300px;
    overflow-y: auto;
}
#quotationspro_assign_user_dialog ul{
    padding: 0;
}
#quotationspro_assign_user_dialog ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
#quotationspro_assign_user_dialog ul li .employee-name{
    font-size: 18px;
}
#quotationspro_assign_user_dialog ul li .btn-assign {
    font-size: 18px;
}

#quotationspro_assign_user_dialog .roja45_quotation_modal_overlay {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    background: #00000047;
}
#quotationspro_assign_user_dialog .roja45_quotation_modal_overlay .roja45-quotation-modal-dialog{
    width: 100%;
    height: 100%;
    text-align: center;
    transform: translate(0%, 41%);
    font-size: 25px;
}

#quotationspro_assign_user_dialog .roja45_quotation_modal_overlay .roja45-quotation-modal-dialog #modal_wait_icon i {
    font-size: 25px;
}