.idea
*.xml
install.log
recaptcha.txt
cache/*
!cache/temp
!cache/index.php
mails/*
!mails/en/
!mails/es/
!mails/fr/
!mails/it/
!mails/de/
!mails/pl/
!mails/pt/
!mails/cs/
!mails/nl/
!mails/ru/
!mails/index.php
translations/*
!translations/index.php
!translations/en.php
!translations/es.php
!translations/it.php
!translations/fr.php
!translations/de.php
!translations/cs.php
!translations/pt.php
!translations/pl.php
!translations/nl.php
!translations/ru.php
views/img/etscfu_upload/*
!views/img/etscfu_upload/index.php
views/img/upload/*
!views/img/upload/index.php