/*
  Sample of styles modification for dark themes
 */

/*

#content {
    background-color: #000000;
}

.offer-login {}.block-header {
    color: white;
}

.has-float-label.required span.field-label, .need-dni .has-float-label span.field-label, .has-float-label span.field-label {
    color: white;
}

#wrapper :is(.label, label, .carrier-name, .payment-option, span.h6) {
    color: #c8c8c8;
}

.form-group.missing-street-number label[data-missing-street-nr-notice]:after {
    color: orangered;
}

.product-line-body .product-line-info span.label, .value {
    color: white;
}

.reassurance-section > .icon::after {
    display: none;
}

.reassurance-section h3 {
    color: white;
}

li.cart-item {
    list-style: none;
}

.has-float-label input.form-control, .has-float-label select.form-control.form-control-select {
    background-color: #272727;
}

.reassurance-section > .icon {
    filter: invert(1);
}

.icon-remove-red-eye {
    filter: invert(1);
}

.icon-remove-red-eye:hover {
    filter: invert(1) opacity(0.7) drop-shadow(0 0px 1px #ff0000);
}


.using-material-icons .custom-radio input[type=radio] + span,
.using-material-icons .custom-radio input[type=radio]:checked + span
{
    background-color: black;
}

.cart-line-product-quantity {
    background-color: black;
    color: white;
}

*/