i.action-enabled,
.product-edit i.material-icons,
i.material-icons.action-disabled,
.preview-contact i {
    font-size: 0 !important;
    font-style: normal;
}
.admincontactformultimateipblacklist .cfu-content-block {
    margin-top: 40px;
}

.btn-group > .product-edit i.material-icons:before {
    font-size: 16px;
}

.cfu-top-menu {
    margin: -21px -10px 0;
}


























