services:
    _defaults:
        public: true
        autowire: true
        autoconfigure: true

    # Repositories
    # Product Repository
    customcarrier.repository.product:
        class: CustomCarrier\Repository\CustomCarrierProductRepository
        arguments:
            - '@doctrine.dbal.default_connection'
            - '%database_prefix%'
