/* carousel navigation styles */
.sw-nav, .n-hover:hover .sw-nav {
	display: block;
	position: absolute;
	left: 20px;
	top: 50%;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0.5);
	box-shadow: 0px 0px 15px rgba(255,255,255, 0.3);
	border-radius: 50%;
	margin-top: -25px;
	z-index: 10;
	cursor: pointer;
	text-align: center;
	opacity: 1;
	outline: none;
	transition: all 0.1s ease-in-out;
}
.sw-nav.next, .n-hover:hover .sw-nav.next {
	transform: rotate(180deg);
	right: 20px;
	left: auto;
	opacity: 1;
}
.sw-nav:before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 2px solid #FFF;
	transform: rotate(45deg);
	border-width: 0 0 2px 2px;
	margin-top: 20px;
	margin-left: 2px;
}
.sw-nav:hover, .n-hover:hover .sw-nav:hover {
	background: rgba(0,0,0,0.7);
}
.n-hover .sw-nav {
	left: 0;
	right: auto;
	opacity: 0;
}
.n-hover .sw-nav.next {
	right: 0;
	left: auto;
	opacity: 0;
}
.sw-pgn, .p-hover:hover .sw-pgn {
	margin-top: 15px;
	display: block;
	text-align: center;
	z-index: 10;
	transition: all 0.1s ease-in-out;
	opacity: 1;
}
.sw-pgn-bullet {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #333;
	border: 2px solid #FFF;
	border-radius: 100%;
	margin: 0 3px;
	opacity: 0.2;
	outline: none;
	cursor: pointer;
}
.sw-pgn-bullet.active {
	opacity: 1;
}
.p-hover .sw-pgn {
	bottom: 0;
	opacity: 0;
}
.cb .cb-wrapper .hidden {
	display: none;
}
/* home slider navigation buttons */
.home-slider .sw-nav, .home-slider.n-hover:hover .sw-nav {
	top: auto;
	bottom: 15px;
	width: 56px;
	height: 56px;
}
.home-slider .sw-nav:before {
	margin-top: 23px;
}
.home-slider .sw-nav.prev {
	left: auto;
	right: 85px;
}
.home-slider .sw-nav.next {
	right: 20px;
}
/* home slider texts */
.home-slider .custom-html {
	display: block;
	top: 0;
	left: 0;
	padding: 5%;
	text-align: left;
	color: #FFF;
	font-size: 1.3em;
}
.home-slider .custom-html p {
	max-width: 350px;
	line-height: 1.5;
	color: #FFF;
}
.home-slider .custom-html .btn {
	text-transform: uppercase;
	color: #555;
	background: #FFF;
}
.home-slider .custom-html h2 {
	font-size: 2.1em;
	color: #FFF;
	margin: 0;
	padding: 0;
}
.home-slider {
	margin-bottom: 10px;
}
.home-slider img {
	width: 100%;
}
@media (max-width: 991px) {
	.home-slider .custom-html {
		padding: 10% 5%;
	}
	.home-slider .custom-html h2 {
		font-size: 1.5em;
	}
	.home-slider .custom-html p {
		display: none;
	}
}
@media (max-width: 767px) {
	.home-slider .sw-nav {
		display: none;
	}
}
.easycarousel .btn-tertiary-outline {

	border: 1px solid #e5e5e5;
	
}

.cb-wrapper.w-21.type-2.pc-2,
.cb-wrapper.w-18.type-2.pc-5,
.cb-wrapper.w-24.type-2.pc-8{
	margin-top: 20px;
    display: flex;
    justify-content: space-between;
	    .cb-item-content {
		display: flex;
		position: relative;
		flex-direction: column;
		align-items: center;
		img.cb-img {
    	max-width: 200px;
		}
		.custom-html{
			max-width: -webkit-fill-available !important;
		}
	}
}

.cb-wrapper.w-17.type-2.pc-4 {
    display: flex;
    justify-content: space-between;
    
    .cb-item-content {
    	border-radius: 5px;
		border: 1px solid #e5e5e5;
		position: relative;
		
		.custom-html {
		margin: 0;
		max-width: fit-content;
		display: flex;
		text-align: center;
		color: #FFF;
		flex-direction: column;
		justify-content: flex-end;
		}
	}
}
.mobile-carousel{
	margin:-15px;
}

/* black week 

	#blackweek {
	    padding: 0;
	    
	    h3.hit-of-the-week-title, p.pse-p {
		display:none;
		}
	   
		.cb.displayCustomBanners2.clearfix {
			background: linear-gradient(to bottom, #000000 0%, black 95%, white 100%);
		}
		
		h2.title_blackweek {
			border-bottom: 1px solid #e5e5e5;
	    	padding-bottom: 10px;
			position: relative;
	    	width: max-content;
	    	font-size: 23px !important;
	    	
	    	&:before {
			content: "";
			width: 125px;
			height: 2px;
			background-color: #ffc107;
			position: absolute;
			bottom: -1px;
			left: 0;
			}
		}
		
		.custom-html {
			margin: 0;
			max-width: 100%;
			display: flex;
			padding: 1% 3% 1% 3%;
			color: #FFF;
			flex-direction: column;
			justify-content: space-around;
			
			.block_blackweek {
	    		text-align: left !important;
			}
			
			p {
				text-align: center;
				line-height: 1.5;
				margin-bottom: 5px;
				display: -webkit-box;
				font-size: 12px !important;
				-webkit-line-clamp: none !important;
			}
			
			h3.subtitle {
				
	    		font-size: 15px;
			}
		}
		
		.mobile-carusel{
			margin-bottom: 15px;
			padding: 0 15px;
		}
		
		.sw-pgn-bullet.active {
			border: 2px solid #fab511 !important;;
			background: #fab511 !important;
			opacity: 1;
		}
		
		.sw-pgn-bullet {
			opacity: 1 !important;
		}
	}


#blackweek-desktop {
     padding: 45px 45px;
     border-radius: 6px;
     background: black;
    
    .nr-custom-html {
    	display: none;
	}
	
	h3 {
		color: white;
		border-bottom: 1px solid #e5e5e5;
	    padding-bottom: 10px;
		position: relative;
	    font-size: 24px !important;
	    text-align: left;
	    
	    &:before {
			content: "";
			width: 125px;
			height: 2px;
			background-color: #ffc107;
			position: absolute;
			bottom: -1px;
			left: 0;
		}
	}
	
	p {
	    color: white;
	    text-align: left;
	    font-size: 15px;
	}
	
	.desktop-text{
    	margin-top: 25px;
	}
	
	p.title-block {
    	font-weight: 700;
    	font-size: 20px;
	}
}

@media (max-width: 991px) {
	div#blackweek-desktop {
    padding: 0;
}
}*/
