<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>pkol</name>
    <displayName><![CDATA[PKO Leasing Online]]></displayName>
    <version><![CDATA[1.1.2]]></version>
    <description><![CDATA[PKO lease financing - the ability to verify the installment and take a lease.]]></description>
    <author><![CDATA[PKO Leasing]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Uninstall the plug-in?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>