config_*.xml
config/services.yml
config/ybc_services.yml
views/css/custom.css
cache/*
!cache/index.php
xml/*
mails/*
!mails/index.php
!mails/en/*
!mails/en
!mails/fr/*
!mails/fr
!mails/es/*
!mails/es
!mails/it/*
!mails/it
!mails/he/*
!mails/he
!mails/de/*
!mails/de
!mails/pl/*
!mails/pl
!mails/pt/*
!mails/pt
!mails/cs/*
!mails/cs
!mails/nl/*
!mails/nl
!mails/ru/*
!mails/ru
!xml/index.php
.bash_profile
.bash_history
.bashrc
.bash_logout
bin/*
translations/*
!translations/en.php
!translations/es.php
!translations/fr.php
!translations/it.php
!translations/vn.php
!translations/de.php
!translations/pl.php
!translations/pt.php
!translations/cs.php
!translations/nl.php
!translations/ru.php
!translations/index.php
.idea
.gitconfig
.git-credentials
.yaml
yaml/*
yaml

