config.url.test.php
.idea
*.xml
translations/*
!translations/index.php
!translations/en.php
!translations/fr.php
!translations/es.php
!translations/it.php
!translations/de.php
!translations/pl.php
!translations/vn.php
.bashrc
.bash_profile
.bash_history
.bash_logout
.gitconfig
.git-credentials
Readme.md
