<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>customsearchsort</name>
    <displayName><![CDATA[Custom Search Sort]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Adds availability sorting option to search results]]></description>
    <author><![CDATA[Custom]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
