#pdgetdatabyvatnumberpro {margin-bottom: 20px}
#pdgetdatabyvatnumberpro .info-title {margin-bottom: 10px;}
#pdgetdatabyvatnumberpro #pdgetdatabyvatnumberpro_get {

}

#pdgetdatabyvatnumberpro .unvisible {display:none;}




@-webkit-keyframes pd-spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes pd-spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#pdgetdatabyvatnumberpro .pd-spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite pd-spinner-border;
    animation: .75s linear infinite pd-spinner-border
}

#pdgetdatabyvatnumberpro .pd-spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em
}
