.reviews_main_box .progress {
    margin-bottom: 5px;
    padding: 0px;
}

.reviews_list_box {
    padding-bottom: 15px;
}

.reviews_main_box a {
    width: 100%;
    margin: 15px auto 0px;
    padding: 15px;
    color: #000000;
    font-size: 14px;
}

.reviews_main_box .progress_label_start {
    padding: 0px;
}
.reviews_main_box {
    color: #000000;
    max-width: 600px;
}

.reviews_main_box .review_description {
    color: #000000;
    text-align: center;
}

.reviews_main_box .reviews_main_title {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
    text-align: center;
}

.reviews_main_box .review_name {
    color: #000000;
    font-size: 16px;
    padding: 10px 0px 10px;
    text-align: center;
    font-weight: bold;
}

.reviews_main_box .opinions-header {

    color: #000000;
    font-size: 16px;
    padding: 10px 0px 10px;
    font-weight: bold;

}

.reviews_main_box .review_number {
    color: #000000;
    font-size: 16px;
    padding: 0px 0px 10px;
    text-align: center;
}

.reviews_main_box .star_content,
.reviews_list_box .star_content {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: auto;
    display: inline-block;
}

.reviews_page {
    position: relative;
    top: 50%;
    display: inline-block;
    padding-left: 15px;
}

.reviews_main_box .star_content .star,
.reviews_list_box .star_content .star {
    position: relative;
    padding-top: 5px;
    float: left;
    width: 26px;
    overflow: hidden;
    cursor: pointer;
    font-size: 24px;
    height: 26px;
    font-weight: normal;
}

.reviews_main_box .star_content .star,
.reviews_list_box .star_content .star {
    display: block; }
.star a {
    display: block;
    position: absolute;
    text-indent: -5000px; }

.reviews_main_box .star_content .star:after,
.reviews_list_box .star_content .star:after {
    content: "\f006";
    font-family: "FontAwesome";
    display: inline-block; }

.reviews_main_box .star_content .star.star_on,
.reviews_list_box .star_content .star.star_on {
    display: block; }
.reviews_main_box .star_content .star.star_on:after,
.reviews_list_box .star_content .star.star_on:after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block; }

.reviews_main_box .star_content .star.star_hover:after,
.reviews_list_box .star_content .star.star_hover:after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block; }

.reviews_list_box .review_date {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    padding-left: 0px;
}

.reviews_list_box .reviews_list_box_row {
    padding-bottom: 10px;
}

.reviews_list_box .reviews_backgorund {
    background-color: #F5F5F5;
}

.reviews_list_box .review_content {
    color: #000000;
    font-size: 20px;
    margin-left: -15px;
}

.reviews_list_box .star_content {
    padding-left: 0px;
}

.reviews_list_box_title {
    color: #000000;
    font-size: 34px;
    padding: 0px 15px 10px 15px;
}
.reviews_list_box_subtitle {
    padding: 0px 15px 10px 15px;
}

.reviews_list_box_subtitle a {
    color: black;
    font-weight: bold;
}

.slideout-widget {
    position: fixed;
    right: -300px;
    top: 40%;
    transition: right .4s;
    max-width: 300px;
    z-index: 10;
}

.slideout-widget:hover {
    right: 0;
}

.slideout-widget-handler,
.slideout-widget-content {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1em .5em;
}

.slideout-widget-handler {
    border-right: none;
    left: -3em;
    position: absolute;
    text-align: center;
    width: 3em;
}
.slideout-widget-content {
    border-width: 1px 0 1px 1px;
    overflow: hidden;
    width: 100%;
    z-index: 11;
}

.slideout-big {
    right: -20em;
    width: 20em;
}

@media (max-width: 1200px) {
    .slideout-widget {
        display: none;
    }
}

.slideout-widget-content .reviews_main_box {
    width: 100%;
}

.review_text {
    color: #000000;
    font-size: 20px;
    line-height: 26px;
    padding-left: 0px;
    padding-bottom: 10px;
}

.fb_iframe_widget {
    margin: 10px 25px;
}

.fb_iframe_widget span {
    text-align: center !important;
}

.progress.col-xs-6 {
    float: left;
    width: 50%;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0; }
    to {
        background-position: 0 0; } }
@-moz-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0; }
    to {
        background-position: 0 0; } }
@-o-keyframes progress-bar-stripes {
    from {
        background-position: 0 0; }
    to {
        background-position: 40px 0; } }
@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0; }
    to {
        background-position: 0 0; } }
.progress {
    overflow: hidden;
    height: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease; }

.progress-striped .progress-bar {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px; }

.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite; }

.progress-bar-success {
    background-color: #46a74e; }
.progress-striped .progress-bar-success {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)); }

.progress-bar-info {
    background-color: #5192f3; }
.progress-striped .progress-bar-info {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)); }

.progress-bar-warning {
    background-color: #f0ad4e; }
.progress-striped .progress-bar-warning {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)); }

.progress-bar-danger {
    background-color: #d9534f; }
.progress-striped .progress-bar-danger {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)); }
